@page
@model IndexModel
@{
    ViewData["Title"] = "School Portal";
}

<div class="text-center">
    <h2 class="display-5">Welcome to Charles School portal</h2>
    <p>
        Click <a asp-area="" asp-page="/Courses">here</a>
 to view all course and enroll for course. You can also add Todos and view all Todos <a asp-area="" asp-page="/Todo">here</a>
</p>
</div>
